*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.imagen{
    width: 100px;
    height: 100px;
}
.navegacion{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}
.icono{
    font-size: 20px;
    background-color: rgb(226, 235, 230);
    padding: 12px;
    border-radius: 50%;
}
.contenedor-principal{
    background-color: rgb(0, 200, 134);
   
  
}
.imagen-anime{
    width: 250px;
    height: 200px;
}
.aside-derecho{

   
    background-color: rgb(171, 171, 22);
}
.contenedor-centrado{
    background-color: rgb(35, 119, 198);
    display: flex;
    max-width: 1500px;
    min-width: 800px;
    padding: 30px;
    margin: 0 auto;

}